<% include ../partials/header %>

  <div class="container">
    <header class="jumbotron">
      <h1>Welcome to the campgrounds page</h1>
      <p>Handpicked from the best sites around Bucks County</p>
      <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a camp site</a></p>
    </header>

    <div class="row text-center">
      <%campgrounds.forEach(function(campground){ %>
        <div class="col-md-4 col-md-6">
          <div class="thumbnail">
            <img style="width:350px;height:300px" src=<%=campground.image %> alt="A picture of
            <%=campground.name%>">
              <div class="caption">
                <h4><%= campground.name %></h4>
              </div>
              <p><a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a></p>
          </div>
        </div>
        <% }); %>
    </div>
  </div>





  <% include ../partials/footer %>
